<%- include('./includes/head', { pageTitle: 'Error'}) %>
<link rel="stylesheet" href="/styles/error.css">
</head>
<body>
    <%- include('./includes/header') %>


<main class="error-500">
    <img src="/images/IMG_3869.JPG" alt="">
    <h1>An error occured!</h1>
    <p>Something went wrong - please try again later!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
</main>

<%- include('./includes/footer') %>