<%- include('../../shared/includes/head', { pageTitle: 'new products'}) %>
<link rel="stylesheet" href="/styles/products.css">
</head>

<body>
    <%-include('../../shared/includes/header') %>
    <main>
        <h1>Best Sellers</h1>
        <ul class="products-ul">
            <% for (const product of products) { %>
                <li>
                    <%- include('../../shared/includes/product-item', {product: product})  %>
                </li>
                <% } %>
        </ul>
    </main>
    </body>
    <%-include('../../shared/includes/footer') %>