<%- include('../../shared/includes/head', { pageTitle: 'main-page'}) %>
</head>
<body class="main-page">
    <%-include('../../shared/includes/header') %>
      
        </section>
      </header>
<main>
<ul class="main-ul">
  <p id="arman">The Arman panels</p>
  <p>
    Solar Panels the <br>
    Energy source of the future <br>
    is here
  </p>
  <button>Shop All Equipments</button>
</ul>
</main>



<%- include('../../shared/includes/footer') %>