<%- include('../../shared/includes/head', { pageTitle: 'main-page'}) %>
</head>
<body class="main-page">
    <%-include('../../shared/includes/header') %>
          <ul>
            <% if(locals.isAuth) {%>
            <li><form action="/logout" method="POST">
              <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
              <button>Logout</button>
            </form>  
            </li>
            <% }%>  
            </ul>
        </section>
      </header>
<main>
<!-- <p class="main-paragraph">
  Generate your own power with the power of the sun,<br>
         save with solar overtime
</p>
<p class="secondmain-paragraph">
  Generate your own clean energy from the sun for free with solar. Add Powerwall to store your energy for use anytime you need it.  <br>
  save on Energy, power your home.
</p> -->
<ul class="main-ul">
  <p id="arman">The Arman panels</p>
  <p>
    Solar Panels the <br>
    Energy source of the future <br>
    is here
  </p>
  <button>Shop All Equipments</button>
</ul>
</main>



<%- include('../../shared/includes/footer') %>