<link rel="stylesheet" href="/styles/header.css" />

<header>
  <section class="header">
    <div>
      <a href="/"><img src="\images\A3.png" alt="" /></a>
    </div>
  
    <%- include('nav-items') %>
  

   <!-- <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
   </button> -->
  </section>
</header>

<!-- <aside id="mobile-menu">
  <nav>
     include('nav-items') 
  </nav>
</aside> -->
