<link rel="stylesheet" href="/styles/header.css" />
<header>
  <section class="header">
    <div>
      <a href="/"><img src="\images\A3.png" alt="" /></a>
    </div>
    <nav id="user-img">
     <img src="\images\user-regular.svg" alt="user" />  
      <div>
        <button aria-label="Cart" id="solar-cart-btn">
          <div>
            Cart
          </div> 
            <img src="\images\cart-shopping-solid.svg" alt="">
            <!-- <span class="ml-half the-circle-icon">0</span> -->
        </button>
      </div>
      <!-- <img src="\images\cart2.png" alt=""> -->
    </nav>
  </section>
</header>
