<link rel="stylesheet" href="/styles/header.css" />
<header>
  <section class="header">
    <div>
      <a href="/"><img src="\images\A3.png" alt="" /></a>
    </div>
    <nav id="user-img">
     <img src="\images\user-regular.svg" alt="user" />  
      <div>
        <button aria-label="Cart" id="solar-cart-btn">
          <div>
            Cart
          </div> 
            <img src="\images\cart-shopping-solid.svg" alt="">
        </button>
      </div>
    </nav>
    <ul>
      <% if(locals.isAuth) {%>
      <li>
        <button>Logout</button>
      </li>
      <% }%>  
      </ul>
  </section>
</header>
