<%- include('../../shared/includes/head', { pageTitle: 'All products'}) %>
<script src="/script/product-management.js" defer></script>
<head>
    <body>
        <main>
            <h1 style="color: wheat;" >Product Administration</h1>
           
            <section>
        <h2>Manage Products</h2>
        <p>
            <a href="/admin/products/new" class="btn"> Add Products</a>
        </p>
            </section>
            <section>
                <ul>
                    <% for(const product of products ) {%>
                    <li>
                        <%- include('../../shared/includes/product-item', {product: product})  %>
                    </li>
                    <% } %>
                </ul>
            </section>
           
        </main>
        <%-include('../../shared/includes/footer') %>
    </body>
</head>