<%- include('../../shared/includes/head', { pageTitle: 'All products'}) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/script/product-management.js" defer></script>
<head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1 class="product-admin-title" style="color: wheat;" >Product <span class="products-span">Administration</span> </h1>
           
            <section>
        <h2>Manage Products</h2>
        <p>
            <a href="/admin/products/new" class="btn"> Add Products</a>
        </p>
            </section>
            <section id="products-section">
                <ul class="products-ul">
                    <% for(const product of products ) {%>
                    <li class="products-li">
                        <%- include('../../shared/includes/product-item', {product: product})  %>
                    </li>
                    <% } %>
                </ul>
            </section>
           
        </main>
        <%-include('../../shared/includes/footer') %>
    </body>
</head>