<%- include('../../shared/includes/head', { pageTitle: 'new products'}) %>
<link rel="stylesheet" href="/styles/forms.css" />
<head>
  <body>
    <main>
      <%- include('../../shared/includes/header') %>
      <div ></div>
      <h1 class="form-h1">Add new Product</h1>
      
      <%- include('includes/product-form', {submitPath: '/admin/products', product: {
        title: '',
        summary: '',
        price: '',
        description: '',
      },
      imageRequired: true})  %>
          </div>
    </main>
    <%-include('../../shared/includes/footer') %>
  </body>
</head>
