<%- include('../includes/head', { pageTitle: 'Signup'}) %>
</head>
<body>
<%- include('../includes/header') %>
<main>
    <h1>Sign up</h1>
    <form action="" method="">
        <p>
        <input type="name" id="firstname" name="firstname" placeholder="First Name" required>
        </p>
        <p>
        <input type="name" id="lastname" name="lastname" placeholder="Last Name" required>
       </p>
       <p>
        <input type="email" id="email" name="email" placeholder="Email" required>
       </p>
       <p>
        <input type="password" id="password" name="password" placeholder="Password"  minlength="6" required>
       </p>
       <hr>
    </form>
</main>