<%- include('../includes/head', { pageTitle: 'Signup'}) %>
</head>
<body>
<%- include('../includes/header') %>
<main>
    <h1>Sign up</h1>
    <form action="" method="">
        <p>
        <input type="text" id="firstname" name="firstname" placeholder="First Name" required>
        </p>
        <p>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name" required>
       </p>
       <p>
        <input type="email" id="email" name="email" placeholder="Email" required>
       </p>
       <p>
        <input type="password" id="password" name="password" placeholder="Password"  minlength="6" required>
       </p>
       <p>
        <input type="password" id="Confimpassword" name="Confirmpassword" placeholder="Confirm Password"  minlength="6" required>
       </p>
       <p>
        <input type="">
        <button class="btn">  Sign up</button>
       </p>
       <p id="switch-form">Already have an account?<a href="/login">Sign in</a></p>
    </form>
</main>