<link rel="stylesheet" href="/styles/header.css" />
<header>
  <section class="header">
    <div>
      <a href="/"><img src="\images\A3.png" alt="" /></a>
    </div>
    <nav id="user-img">
      <i class="fa-regular fa-user"
        ><a href=""><img src="\images\user-regular.svg" alt="user" /></a
      ></i>
    </nav>
  </section>
</header>
